/* Navbar */
nav {
  border-right: 1.5px solid #fafafa;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 40px);
  user-select: none;
}

nav h3 {
  font-family: "Satoshi Medium";
  font-size: 14px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav ul #add-btn {
  font-family: "Satoshi Medium";
  font-size: 16px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav ul #add-btn:hover{
  transform: scale(1.1);
  background-color: #e5e5e5;
}

nav ul .clr-option {
  list-style-type: none;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-sizing: border-box;
}

nav ul .clr-option:hover{
  transform: scale(1.2);
}
/* Navbar */

/* Right Side */
.right-side {
  margin-left: 101px;
  min-height: 100vh;
  padding: 20px;
}
/* Right Side */

/* Notes Page */
.notes-container h1 {
  font-family: "Satoshi Black";
  font-size: 24px;
  margin-bottom: 25px;
}

.notes-container .notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 240px));
  gap: 10px;
}

.notes-container .notes-grid .note-box {
  aspect-ratio: 1;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  gap: 20px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.notes-container .notes-grid .note-box:hover {
  background-color: #f5f5f5;
}

.notes-container .notes-grid .note-box .title {
  font-family: "Satoshi Black";
  font-size: 14px;
}

.notes-container .notes-grid .note-box .preview {
  font-family: "Satoshi Regular";
  font-size: 12px;
  color: #a3a3a3;
  text-align: justify;

  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  line-clamp: 6;
  -webkit-line-clamp: 6; 
  -webkit-box-orient: vertical; 
  white-space: normal;
}

.notes-container .notes-grid .note-box .color-tag {
  background-color: black;

  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
}

.notes-container .notes-grid .note-box .delete-btn {
  font-family: "Satoshi Regular";
  font-size: 9px;
  width: fit-content;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #FC441C;
  background-color: rgba(252, 68, 28, 0.3);
  position: absolute;
  top: 20px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.notes-container .notes-grid .note-box:hover .delete-btn {
  visibility: visible;
  opacity: 1;
}
/* Notes Page */

/* Note Template Page */
.note-template-container {
  height: 100vh;
}

.note-template-container .title input{
  font-family: "Satoshi Black";
  font-size: 24px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  width: 100%;
}

.note-template-container textarea {
  font-family: "Satoshi Regular";
  font-size: 14px;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: justify;
}
/* Note Template Page */

/* NavEdit Styles */
nav ul .btn {
  font-family: "Satoshi Medium";
  font-size: 14px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav ul .btn svg {
  width: 15px;
  height: 15px;
}

nav ul .btn:hover {
  transform: scale(1.1);
  background-color: #e5e5e5;
}

nav ul .btn.bold {
  font-weight: bold;
}

nav ul .btn.italic {
  font-style: italic;
}

nav ul .btn.underline {
  text-decoration: underline;
}
/* NavEdit Styles */

.button-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 15px;
}

.save_button {
  font-family: "Satoshi Medium";
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel_button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0.75em 1.5em;
  background: #f5f5f5;
  color: #121213;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button_top:hover {
  background-color: #e5e5e5;
}
